.notification-desc{
    width: 100%;
    margin: auto;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.notification-container{
    margin-top: 5rem;
    
}

.notification-col{
    margin-bottom: 2rem;
    width: 30%;
}

.container-button{
    margin-top: 1rem;
    width: 100%;
    margin-left: -0.7rem;
}

.notification-title{
    margin-bottom: 0.3rem;
}

.image-container{
    width: 35%;
    margin-right: 0.5rem;
}

.no-notification-image{
    width: 30%;
    margin-top: 1rem;
    /*margin-left: 35%;*/
}

.no-notifications-text{
    font-size: 2rem;
}
