.results{
    margin-top: 4rem;
}

.results-title{
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.desc-subtitle{
    font-size: 0.7rem;

    text-align: center;
}

.results-desc{
    width: 80%;
    margin: auto;
    padding: 1rem;
    border-radius: 8px;
    background-color: #c3eae2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.results-desc-notfound{
    width: 80%;
    margin: auto;
    padding: 1rem;
    border-radius: 8px;
    background-color: #FF7377;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.notification-text{
    text-align: center;
}