.form-content{
    margin-left: 10%;
    margin-bottom: 10rem;
}

.btn{
    width: 25%;
    font-size: 1rem;
    margin-left: -12%;
}

.scan-header-img{
    width: 60%;
}

.scan-header-content{
    text-align: center;
    margin-top: -1.5rem;

}

